@model BusinessFlow.Models.Enquiry

@{
    ViewBag.Title = "Details";
}
@section head {
<script src="@Url.Content("~/Scripts/2011.3.1115/jquery-1.6.4.min.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script type="text/javascript">
//    $(document).ready(function () {
//        var $divToHide = $('#addDetails');

//        var $checkbox = $('#yes');

//        if ($checkbox.checked) {
//            $divToHide.show('fast');
//        } else {
//            $divToHide.hide('fast');
//        }

//        $($checkbox).click(function (e) {
//            var $divToHide = $('#addDetails');
//            if (this.checked) {
//                $divToHide.show('fast');
//            } else {
//                $divToHide.hide('fast');
//            }
//        });
//    });
  
</script>

}
<h2> Enquiry Details</h2>


    <fieldset>
    <legend>Tentative Delivery Date </legend>
       <div class="display-field">@String.Format("{0:dddd, MMMM d, yyyy}", Model.TentativeDeliveryDate)</div>
    </fieldset>
    <fieldset>
    <legend>Requirement Summary</legend>
    <div class="display-field">@Model.Requirement</div>
    </fieldset>
    <fieldset>
    <legend>Contact Details</legend>
    <div class="display-field">@(Html.Telerik().Grid<BusinessFlow.Models.Contact>("Contact").Name("contact"))</div>
    </fieldset>
    <fieldset>
    <legend>Site Address</legend>
    <div class="display-field">@(Html.Telerik().Grid<BusinessFlow.Models.Address>("Address").Name("address"))</div>
    </fieldset>
    <fieldset>
    <legend>Designer Contact</legend>
    <div class="display-field">@(Html.Telerik().Grid<BusinessFlow.Models.Contact>("Designer").Name("designer"))</div>
    </fieldset>
   @* <br />
    <p> Would you like to submit additional details for the enquiry? 
      <input type="checkbox" id="yes" value="Yes" name="chkyes" /> Yes <br />
    </p>*@
  @*  <div id="addDetails" class="display:none">
    
    @using (Html.BeginForm("UpdateEnquiry", "Enquiries", new { Id = @Model.EnquiryID }, FormMethod.Post))
    {
        <fieldset>
    <legend>Additional Details </legend>
        @Html.LabelFor(_ => Model.EnquiryDetails.Amount)
      @(Html.Telerik().NumericTextBoxFor(_ => Model.EnquiryDetails.Amount).Name("amount"))
       <br />
       <text> Click button to upload file.</text>
       @(Html.Telerik().Upload().Name("quotation").Async(a => a.Save("Save", "Enquiries", new { id = Model.EnquiryID }).Remove("Remove", "Enquiries", new { id = Model.EnquiryID })))
       <br />

      <input type="submit" value="Update" />

    </fieldset>
    }
    </div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnquiryID }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Add Details", "AdditionalDetails", "Enquiries", new { id = Model.EnquiryID }, new { @class = "test" })
</p>
 
